.fast-block
    ul.fast__list
        li.fast__item
            i.fa.fa-phone
            a(href="tel:6478914951").fast__phone 647 - 891 - 4951
        li.fast__item
            i.fa.fa-envelope
            a(href="mailto:kirpak82@gmail.com").fast__mail kirpak82@gmail.com