footer.footer
    .footer-block
        .footer__left
            nav.nav.nav-footer
                ul.nav__list
                    li.nav__item
                        a.nav__link(href="/") Home
                    li.nav__item
                        a.nav__link(href="about.html") About us
                    li.nav__item
                        a.nav__link(href="services.html") Services
                    li.nav__item
                        a.nav__link(href="projects.html") Projects
                    li.nav__item
                        a.nav__link(href="safety.html") Safety
                    li.nav__item
                        a.nav__link(href="careers.html") Careers
                    li.nav__item
                        a.nav__link(href="contacts.html") Contact
            .fast-contact.fast-contact__footer
                .fast-contact-text.fast-contact-text__footer Contact us:
                ul.fast__list.fast__list__footer
                    li.fast__item.fast__item__footer
                        i.fa.fa-phone
                        a(href="tel:6478914951").fast__phone.fast__phone--w 647 - 891 - 4951
                    li.fast__item
                        i.fa.fa-envelope
                        a(href="mailto:kirpak82@gmail.com").fast__mail.fast__mail--w kirpak82@gmail.com
        .footer__right
            .logo
                a.logo__link(href="/")
                    .logo__img.logo__img--big
                        img.logo__pic(src="assets/images/logo-w.png", alt="Logo")
    .copyright
        .copyright__text Copy Right 2019 © By In Young Choi. All Rights Reserved.