footer.footer
    .footer__left
        .copyright Copy Right 2019 © By In Young Choi. All Rights Reserved.
    .footer__right
        .logo
            a.logo__link(href="/")
                .logo__img
                    img.logo__pic(src="assets/images/logo-w.png", alt="Logo")