header.header
    .header-logo
        .logo
            a.logo__link(href="/")
                .logo__img
                    img.logo__pic(src="assets/images/logo-w.png", alt="Logo")
    .header-menu
        nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link(href="/") Home
                li.nav__item
                    a.nav__link(href="about.html") About us
                li.nav__item
                    a.nav__link(href="services.html") Services
                li.nav__item
                    a.nav__link(href="projects.html") Projects
                li.nav__item
                    a.nav__link(href="contacts.html") Contact