extends ../template

block variables
    - var title = 'Kir Pak Services - About us';

block content
    #preloader
        #preloader-logo
    .wrapper
        include ../common/fast
        include ../common/header
        .about
            h1.about__title.title--w About us
        .about-block
            .about__desc
                p.about__text We work with owners, general contractors and architects nationwide to provide Design Reviews, Building Condition Assessments, Roof Observations. Our project types include commercial, multi-family, industrial, and governmental buildings ranging from historic structures to modern construction. Our diverse skillset provides the flexibility to tailor solutions that meet your needs.
                p.about__text We are a professional roofing, waterproofing, and cladding firm specializing in building envelope design for new and retrofit construction projects, materials and application testing, research, and technology.
                p.about__text All of our site personnel are experienced and trained operatives from within the industry and are capable of meeting your expectations.
                p.about__text Behind our installation crews is our ever growing operations team, which supports the crews in the field to help get the job done right and on time.
            .about__pic
                img.about__img(src="assets/images/collage16.png", alt="About us")
        include ../common/footer