extends ../template

block variables
    - var title = 'Clients';

block content
    #preloader
        #preloader-logo
    .wrapper
        include ../common/header
        .clients
            h1.clients__title.title--w Testimonials
        .clients-block
            

        include ../common/footer