extends ../template

block variables
    - var title = 'Clients';

block content
    #preloader
        #preloader-logo
    .wrapper
        include ../common/header
        .clients
            h1.clients__title.title--w Testimonials
        .clients-block
            h2.clients-block__title Our Clients Say
            .testimonials.owl-carousel
                .testimonials__item
                    .testimonials__pic
                        img.testimonials__img(src="assets/images/testimonials/m1.jpg", alt="Testimonial")
                    .testimonials__text Kir Pak Services did an excellent job from the conceptual stage through the finished construction of our new warehouse/corporate office facility. We look forward to working with them again on our next project.
                    .testimonials__name Michael Smith
                    .testimonials__occ General Manager
                .testimonials__item
                    .testimonials__pic
                        img.testimonials__img(src="assets/images/testimonials/w1.jpg", alt="Testimonial")
                    .testimonials__text We were impressed with Kir Pak Services’s work ethic and commitment to finishing our project on time. If I had to sum up our building project with them in two words, they’d be effective and efficient.
                    .testimonials__name Maria Garcia
                    .testimonials__occ Director
                .testimonials__item
                    .testimonials__pic
                        img.testimonials__img(src="assets/images/testimonials/m2.jpg", alt="Testimonial")
                    .testimonials__text Our construction project started in the winter—and the conditions were not ideal. Despite this, Kir Pak Services successfully finished our project on time and without any safety incidents.
                    .testimonials__name John Williams
                    .testimonials__occ Vice-president
                .testimonials__item
                    .testimonials__pic
                        img.testimonials__img(src="assets/images/testimonials/w2.jpg", alt="Testimonial")
                    .testimonials__text We’ve worked with Kir Pak Services on three building projects over the last 2 years, and we’re always impressed with their thoroughness and commitment to quality. They have always met or exceeded our expectations.
                    .testimonials__name Laura Clark
                    .testimonials__occ Vice-president
                .testimonials__item
                    .testimonials__pic
                        img.testimonials__img(src="assets/images/testimonials/m3.jpg", alt="Testimonial")
                    .testimonials__text Kir Pak Services was truly a collaborative partner; working with us in a cost effective, efficient and quality construction product. The knowledge of the Kir Pak Services team was truly a value add to the overall success of our build-out project.
                    .testimonials__name Matthew Robinson
                    .testimonials__occ Director
                .testimonials__item
                    .testimonials__pic
                        img.testimonials__img(src="assets/images/testimonials/w3.jpg", alt="Testimonial")
                    .testimonials__text Kir Pak Services thank you for all of your hard work on our project… I seriously don’t know how you did it but it came together so well.
                    .testimonials__name Alice Campbell
                    .testimonials__occ General Manager
        include ../common/footer