extends ../template

block variables
    - var title = 'Kir Pak Services - Projects';
    - var desc = 'We’re proud of our extensive portfolio of successful curtain walling, cladding, glazing and building envelope solutions that are hard at work in a wide range of environments';

block content
    #preloader
        #preloader-logo
    .wrapper
        include ../common/fast
        include ../common/header
        .projects
            h1.projects__title.title--w Projects
        .projects-block
            h2.projects-block__title A portfolio of successful projects from the industry’s finest
            .projects-block__desc
                p We’re proud of our extensive portfolio of successful curtain walling, cladding, glazing and building envelope solutions that are hard at work in a wide range of environments. 
                p See some examples of our work below.
            .projects-gallery
                ul.projects__list
                    li.projects__item
                        .projects__item-title Block 17
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/Block17/5.jpg", alt="Block17")
                            .overlay
                        a.projects__btn.open_fancybox(href='assets/images/Block17/5.jpg') View More 
                    li.projects__item
                        .projects__item-title Memorial University of Newfoundland
                        .projects__item-pic 
                            img.projects__item-img(src="assets/images/mun/1.JPG", alt="Memorial University st. John's Newfoundland")
                            .overlay
                        a.projects__btn.open_fancybox1(href='assets/images/mun/1.JPG') View More
                    li.projects__item
                        .projects__item-title E condos
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/econdos/1.png", alt="E condos")
                            .overlay
                        a.projects__btn.open_fancybox3(href='assets/images/econdos/1.png') View More
                    li.projects__item
                        .projects__item-title Alter
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/alter/1.png", alt="Alter")
                            .overlay
                        a.projects__btn.open_fancybox5(href='assets/images/alter/1.png') View More 
                    li.projects__item
                        .projects__item-title 10 York St
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/10york/1.png", alt="10 York St")
                            .overlay
                        a.projects__btn.open_fancybox7(href='assets/images/10york/1.png') View More 
                    li.projects__item
                        .projects__item-title Signature JK
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/signature/1.JPG", alt="Signature JK")
                            .overlay
                        a.projects__btn.open_fancybox8(href='assets/images/signature/1.JPG') View More 
                    li.projects__item
                        .projects__item-title The Madison at Yonge and Eglinton
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/madison/1.png", alt="The Madison")
                            .overlay
                        a.projects__btn.open_fancybox9(href='assets/images/madison/1.png') View More 
                    li.projects__item
                        .projects__item-title Flaire Condos
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/flaire/1.png", alt="Flaire Condos")
                            .overlay
                        a.projects__btn.open_fancybox10(href='assets/images/flaire/1.png') View More 
                    li.projects__item
                        .projects__item-title Essential
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/essential/1.png", alt="Essential")
                            .overlay
                        a.projects__btn.open_fancybox11(href='assets/images/essential/1.png') View More 
                    li.projects__item
                        .projects__item-title One Park Tower
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/onepark/1.png", alt="One Park Tower")
                            .overlay
                        a.projects__btn.open_fancybox12(href='assets/images/onepark/1.png') View More 
                    li.projects__item
                        .projects__item-title Harbour Plaza Residences
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/harbour/1.png", alt="Harbour Plaza Residences")
                            .overlay
                        a.projects__btn.open_fancybox13(href='assets/images/harbour/1.png') View More 
                    li.projects__item
                        .projects__item-title 66 Isabella
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/isabella/1.jpg", alt="66 Isabella")
                            .overlay
                        a.projects__btn.open_fancybox14(href='assets/images/isabella/1.jpg') View More 
                    li.projects__item
                        .projects__item-title INDX
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/indx/1.png", alt="INDX")
                            .overlay
                        a.projects__btn.open_fancybox15(href='assets/images/indx/1.png') View More 
                    li.projects__item
                        .projects__item-title 36 Hazelton
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/hazeltron/1.png", alt="36 Hazelton")
                            .overlay
                        a.projects__btn.open_fancybox16(href='assets/images/hazeltron/1.png') View More 
                    li.projects__item
                        .projects__item-title Argento
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/argento/1.png", alt="Argento")
                            .overlay
                        a.projects__btn.open_fancybox17(href='assets/images/argento/1.png') View More 
                    li.projects__item
                        .projects__item-title Pears on the Avenue
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/pears/1.png", alt="Pears on the Avenue")
                            .overlay
                        a.projects__btn.open_fancybox18(href='assets/images/pears/1.png') View More 
                    li.projects__item
                        .projects__item-title Two Old Mill
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/twooldmill/1.png", alt="Two Old Mill")
                            .overlay
                        a.projects__btn.open_fancybox19(href='assets/images/twooldmill/1.png') View More 
                    li.projects__item
                        .projects__item-title One Old Mill
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/oneoldmill/1.png", alt="One Old Mill")
                            .overlay
                        a.projects__btn.open_fancybox20(href='assets/images/oneoldmill/1.png') View More 
                    li.projects__item
                        .projects__item-title Gibson Square North Tower
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/gibsonnorth/1.png", alt="Gibson Square North Tower")
                            .overlay
                        a.projects__btn.open_fancybox21(href='assets/images/gibsonnorth/1.png') View More 
                    li.projects__item
                        .projects__item-title Gibson Square South Tower
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/gibsonsouth/1.png", alt="Gibson Square South Tower")
                            .overlay
                        a.projects__btn.open_fancybox22(href='assets/images/gibsonsouth/1.png') View More 
                    li.projects__item
                        .projects__item-title Aristo At Avonshire
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/aristo/1.png", alt="Aristo At Avonshire")
                            .overlay
                        a.projects__btn.open_fancybox23(href='assets/images/aristo/1.png') View More 
                    li.projects__item
                        .projects__item-title FLY Condos
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/fly/1.png", alt="FLY Condos")
                            .overlay
                        a.projects__btn.open_fancybox24(href='assets/images/fly/1.png') View More 
                    li.projects__item
                        .projects__item-title Aura at College Park
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/aura/1.png", alt="Aura at College Park")
                            .overlay
                        a.projects__btn.open_fancybox25(href='assets/images/aura/1.png') View More 
                    li.projects__item
                        .projects__item-title Bravo Boutique Condos
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/bravo/1.png", alt="Bravo Boutique Condos")
                            .overlay
                        a.projects__btn.open_fancybox26(href='assets/images/bravo/1.png') View More 
                    li.projects__item
                        .projects__item-title The Shores
                        .projects__item-pic
                            img.projects__item-img(src="assets/images/shores/1.png", alt="The Shores")
                            .overlay
                        a.projects__btn.open_fancybox27(href='assets/images/shores/1.png') View More 
        include ../common/footer