extends ../template

block variables
    - var title = 'Projects';

block content
    #preloader
        #preloader-logo
    .wrapper
        include ../common/header
        .projects
            h1.projects__title.title--w Testimonials
        .projects-block
            

        include ../common/footer