extends ../template

block variables
    - var title = 'Kir Pak Services - Services';
    - var desc = 'We offer Unitized curtain wall system, Stick system curtain wall, Strip and punched windows, Onsite glazing, Window glass replacements, Cable truss system, Entrances installation';

block content
    #preloader
        #preloader-logo
    .wrapper
        include ../common/fast
        include ../common/header
        .services
            h1.services__title.title--w Services
        .services-block
            .services-block__title We install a variety of typical and specialized products in glass, stone or metal finishes, and a variety of systems, we can install it all including:
            ul.services__list
                li.services__item
                    h3.services__item-title Unitized curtain wall
                    .services__pic
                        img.services__img(src="assets/images/services/1.jpg", alt="Unitized curtain wall")
                    .services__desc Unitized curtain wall system is an external building façade, usually aluminum-framed wall, containing in-fills of glass, aluminum spandrel panels, thin composite panels or concrete spandrel panels.
                li.services__item
                    h3.services__item-title Stick system curtain wall
                    .services__pic
                        img.services__img(src="assets/images/services/2.JPG", alt="Stick system curtain wall")
                    .services__desc The Stick System is a curtain walling system consisting normally of extruded aluminium transoms  and mullions known as “sticks” which are cut to length in the factory prior to assembly on site which may compromise of mechanically held fixed or open glazing, metal insulated panels or stone insulated panels.
                li.services__item
                    h3.services__item-title Strip and punched windows
                    .services__pic
                        img.services__img(src="assets/images/services/3.jpg", alt="Strip and punched windows")
                    .services__desc Strip windows are a series of windows that span a building's exterior. This type of window is often used on smaller commercial buildings, office buildings, condos and even some homes. A punched window is a hole-like opening created to provide a view and let in light.
                li.services__item
                    h3.services__item-title Onsite glazing
                    .services__pic
                        img.services__img(src="assets/images/services/4.jpg", alt="Site glazing")
                    .services__desc When your project includes large window units or substantial panes of glass – 100 kilograms or more – we usually visit your site to glaze these products.
                li.services__item
                    h3.services__item-title Window glass replacements
                    .services__pic
                        img.services__img(src="assets/images/services/5.jpg", alt="Window glass replacements")
                    .services__desc A window that has any broken glass, however, should be replaced as soon as possible. Count on us to perform quality glass repair and replacement in a courteous, professional manner. Our specialists will complete your window repair or glass replacement using the industry best practices.
                li.services__item
                    h3.services__item-title Cable truss system
                    .services__pic
                        img.services__img(src="assets/images/services/6.jpg", alt="Cable truss system")
                    .services__desc Cable trusses rely on the introduction of prestress forces into the tensile elements of the truss to provide stability. The cable trusses are integrated with a pipe frame in this hierarchical structural system.
        .services-doors
            .services-block__title Entrances installation include:
            ul.services-doors__list
                li.services-doors__item
                    h3.services__item-title Revolving doors
                    .services__pic
                        img.services__img(src="assets/images/services/7.jpg", alt="Revolving doors")
                    .services__desc A revolving door typically consists of three or four doors that hang on a central shaft and rotate around a vertical axis within a cylindrical enclosure.
                li.services-doors__item
                    h3.services__item-title Swing doors
                    .services__pic
                        img.services__img(src="assets/images/services/8.jpg", alt="Swing doors")
                    .services__desc The swing door, available in single and double versions, can be opened in both directions. These doors are fixed on pivot hinges which open the leaves to 90° on either side of the opening. The leaves have rounded joints enabling total opening to 180°.
                li.services-doors__item
                    h3.services__item-title Sliding doors 
                    .services__pic
                        img.services__img(src="assets/images/services/9.jpg", alt="Sliding doors")
                    .services__desc A sliding door is a type of door which opens horizontally by sliding, usually parallel to a wall. Sliding doors can be mounted either on top of a track below or be suspended from a track above and some types 'disappear' in a wall when slid open.
        .services-other
            ul.services-other__list
                li.services-other__item
                    h3.services__item-title Metal cladding
                    .services-other__pic 
                        img.services__img(src="assets/images/services/10.jpg", alt="Metal cladding")
                    .services__desc Metal cladding is a type of exterior cladding made of metal. Exterior cladding is basically the protective outer covering on buildings. It's a term used to describe exterior surfaces on things like walls, windows, doors, and trims.
                li.services-other__item
                    h3.services__item-title Skylights installation
                    .services-other__pic 
                        img.services__img(src="assets/images/services/11.jpg", alt="Skylights installation")
                    .services__desc We also install skylights of all shapes and sizes. They are an excellent source of natural light: they can admit more than three times as much light as a vertical window of the same size, distributing it evenly, saving energy and improving your visual comfort levels.
        include ../common/footer