//preloader
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: $blue;
	z-index: 1000;
}

#preloader-logo {
	width: rem(60px);
	height: rem(60px);
	border: 8px solid $red;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: transparent;
	opacity: 0.8;
	animation: inner 4s infinite;
}

#preloader-logo::after {
	content: '';
	width: rem(60px);
	height: rem(60px);
	border-radius: 50%;
	border: 8px solid #c45858;
	background: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0.5;
}

@keyframes inner {
	0% {
		opacity: 0.2;
	}
	50% {
		opacity: 0.8;
	}
	100% {
		opacity: 0.2;
	}
}

//fast
.fast-block{
	background: $white;
	height: rem(30px);
}

.fast__list{
	display: flex;
	justify-content: flex-end;
	height: 100%;
}

.fast__item{
	margin-right: rem(40px);
	display: flex;
	align-items: center;
}

.fast__phone, .fast__mail{
	color: $blue;
	font-weight: 500;
	font-size: rem(14px);
	
	@include netbook{
		font-size: rem(13px);
	}
	
	@include tablets{
		font-size: rem(13px);
	}
	
	@include phones{
		font-size: rem(12px);
	}

}

.fa{
	margin-right: rem(10px);
	color: $red;
}

//main

.main{
    background: url('../images/bg.jpg') no-repeat;
    background-size: cover;
	height:100%;
	display: flex;
	flex-direction: column;
}

.header{
    display: flex;   
    height: rem(80px);
    width: 100%;
    justify-content: space-between;
    background:$blue;
}

.logo{
    width: rem(200px);
    display: flex;
	justify-content: center;
	height: 100%;

	@include phones{
		width: rem(150px);
	}
}

.logo__img{
	width: rem(70px);
	height: 100%;
    display: flex;
    align-items: center;
	
	@include tablets{
		width: rem(60px);
	}

	@include phones{
		width: rem(60px);
	}
}

.logo__pic{
    max-width: 100%;
    max-height: 100%;
}

.nav{
	height: 100%;
	
	@include tablets{
        display: none;
    }

    @include phones{
        display: none;
    }
}

.nav__list{
    display: flex;
    font-size: rem(15px);
    text-transform: uppercase;
    height: 100%;
	align-items: center;

	@include netbook{
		height: 100%;
		align-items: center;
		font-size: rem(11px);
	}
}

.nav__item{
	margin-right: rem(35px);
	
	@include netbook{
		margin-right: rem(30px);
	}
}

.nav__link{
    color: $white;

    &:hover{
        border-bottom: rem(2px) $red solid;
    }
}

.title-block{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: rgba(0,0,0,0.2);
    height:100%;
}

.title{
    font-size: rem(55px);
    font-weight: bold;
	text-transform:uppercase;
	margin-bottom: rem(10px);

	@include netbook{
		font-size: rem(33px);
	}

	@include tablets{
		font-size: rem(26px);
	}

	@include phones{
		font-size: rem(20px);
	}
}

.subtitle{
	text-align: center;
	font-size: rem(20px);
	margin-bottom: rem(35px);

	@include netbook{
		font-size: rem(16px);
	}

	@include tablets{
		font-size: rem(13px);
	}

	@include phones{
		font-size: rem(13px);
		padding: 0 rem(40px);
	}
}

.btn{
	color: $white;
    font-size: rem(18px);
    background-color: $red;
    padding: rem(10px) rem(25px);
    border-radius: 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-left: 0.9375rem;
    outline: none;
    border: 1px solid transparent;
	cursor: pointer;

	&:hover{
        background-color: darken($red, 10%)
	}
	
	@include netbook{
		font-size: rem(14px);
	}

	@include tablets{
		font-size: rem(12px);
		padding: rem(8px) rem(20px);
	}

	@include phones{
		font-size: rem(12px);
		padding: rem(8px) rem(20px);
	}
}

.animated{
	animation-delay: 3s;
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: rem(40px);
	display: block;
	text-align: center;
	font-size: rem(20px);
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
	width: rem(20px);
	height: rem(20px);
	border-bottom: 4px solid #fff;
	border-right: 4px solid #fff;
	z-index: 9;
	left: 50%;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


//info
.info{
	display: flex;
	flex-direction: column;
	height: rem(650px);

	@include netbook{
		height: rem(650px);
	}

	@include phones{
		height: rem(1100px);
	}
}

.info__title, .contacts__title, .about__title, .services__title, .clients__title, .projects__title, .start__title
{
	text-align: center;
	width: 100%;
	padding: rem(60px) 0;
	font-family: 'Montserrat';
    font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	color: $blue;
	font-size: rem(35px);

	@include netbook{
		font-size: rem(25px);
	}

	@include tablets{
		font-size: rem(22px);
	}

	@include phones{
		font-size: rem(22px);
	}
}

.adv__list{
	display: flex;
	padding: 0 rem(50px);
	justify-content: space-around;

	@include netbook{
		padding: 0 rem(10px);
	}

	@include tablets{
		padding: 0 rem(10px);
		flex-direction: column;
		align-items: center;
	}

	@include phones{
		padding: 0 rem(10px);
		flex-direction: column;
		align-items: center;
	}
}

.adv__item{
	display: flex;
    flex-direction: column;
	align-items: center;
	width: 30%;
	background: $gray;
	padding: rem(25px);
	text-align: center;
	box-shadow: 0px rem(10px) rem(30px) rem(-8px) rgba(0, 0, 0, 0.4);

	@include tablets{
		width: 80%;
		margin-bottom: rem(20px);
	}

	@include phones{
		width: 90%;
		margin-bottom: rem(20px);
	}
}

.adv__img{
	width: rem(100px);
	margin-bottom: rem(30px);

	@include netbook{
		width: rem(80px);
	}

	@include tablets{
		width: rem(70px);
	}

	@include phones{
		width: rem(70px);
	}
}
.adv__pic, .contacts__pic, .services__img{
	max-width: 100%;
	max-height: 100%;
}

.adv__title{
	margin-bottom: rem(20px);

	@include netbook{
		font-size: rem(16px);
	}

	@include tablets{
		font-size: rem(14px);
	}

	@include phones{
		font-size: rem(14px);
	}
}

.adv__text{
	@include netbook{
		font-size: rem(14px);
	}

	@include tablets{
		font-size: rem(13px);
	}

	@include phones{
		font-size: rem(13px);
	}
}

//footer
.footer{
	background:$blue;
	align-items: center;
	color: $white;
	font-size: rem(13px);
	height: rem(140px);
	position: relative;
	

	@include netbook{
		font-size: rem(12px);
	}

	@include tablets{
		font-size: rem(11px);
	}

	@include phones{
		font-size: rem(11px);
	}
}

.footer-block{
	display: flex;
	justify-content: space-around;
}

.footer__left{
	display: flex;
    flex-direction: column;
    height: 100%;
    align-self: center;
	justify-content: space-evenly;
	padding-left: rem(15px);
}

.nav-footer{
	margin-bottom: rem(20px);
}

.fast-contact{
	display: flex;
	font-size: rem(16px);

	@include netbook{
		font-size: rem(14px);
	}
}

.fast-contact-text{
	margin-right: rem(20px);
}

.fast__phone--w, .fast__mail--w{
	color: $white;
}

.logo__img--big{
	width: rem(90px);

	@include phones{
		width: rem(80px);
	}
}

.copyright{
	padding: rem(15px);
	text-align: center;
	display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fast-contact__footer{

	@include phones{
		display: flex;
		flex-direction: column;
		margin-left: rem(20px);
	}
}

.fast__list__footer{

	@include phones{
		display: flex;
		flex-direction: column;
	}
}

.fast__item__footer, .fast-contact-text__footer{

	@include phones{
		margin-bottom: rem(5px);
	}
}


//contacts////////////////////////////////////////////////
.contacts{
	background: url('../images/bg-c.jpg') no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: rem(600px);

	@include netbook{
		height: rem(400px);
	}
	
	@include tablets{
		height: rem(580px);
	}

	@include phones{
		height: rem(555px);
	}
}

.contacts-block{
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-back{
	width: 80%;
	height: 80%;
	background: $gray;
	opacity: 0.8;
	display: flex;
    flex-direction: column;
    justify-content: space-around;

	@include tablets{
		height: 60%;
    	width: 90%;
	}

	@include phones{
		width: 95%;
		height: 340px;
	}
}

.contacts__list{
	display: flex;
	justify-content: center;
}

.contacts__item{
	width: 30%;
	display: flex;
    flex-direction: column;
	align-items: center;
	text-align: center;
}

.contacts__name{
	color: $blue;
	text-transform: uppercase;
	font-weight: bold;
	font-size: rem(20px);
	margin-bottom: rem(20px);

	@include netbook{
		font-size: rem(15px);
	}

	@include tablets{
		font-size: rem(13px);
	}

	@include phones{
		font-size: rem(13px);
	}
}

.contacts__text{
	color: $black;
	font-size: rem(18px);

	@include netbook{
		font-size: rem(14px);
	}

	@include tablets{
		font-size: rem(12px);
	}

	@include phones{
		font-size: rem(12px);
	}
}

.contacts__img{
	width: rem(100px);
	margin-bottom: rem(30px);

	@include netbook{
		width: rem(50px);
		margin-bottom: rem(20px);
	}

	@include tablets{
		width: rem(40px);
		margin-bottom: rem(20px);
	}

	@include phones{
		width: rem(30px);
		margin-bottom: rem(20px);
	}
}

.contacts__title{
	@include netbook{
		padding: rem(20px) 0;
	}

	@include tablets{
		padding: rem(50px) 0;
	}
}


// for form
.request{
    display: flex;
    justify-content: center;
    height: rem(500px);
	min-height: rem(500px);
	align-items: center;
	flex-direction: column;
}

.request__title{
	color: $blue;
	margin-bottom: rem(30px);
	font-size: rem(30px);

	@include netbook{
		font-size: rem(25px);
	}

	@include tablets{
		font-size: rem(23px);
	}

	@include phones{
		font-size: rem(23px);
	}
}

.form{
	width: 55%;

	@include netbook{
		width: 70%;
	}

	@include tablets{
		width: 70%;
	}

	@include phones{
		width: 70%;
	}
}

.form__elem{
	display: flex;
	flex-direction: column;
}

.form__input{
    color: $black;
    border: rem(1px) solid $black;
    height: rem(40px);
    margin-bottom: rem(5px);

	@include netbook{
		height: rem(30px);
	}

	@include tablets{
		height: rem(28px);
	}

	@include phones{
		height: rem(28px);
	}
}

.btn-send{
    display: flex;
    justify-content: flex-end;
}

.btn__submit{
    cursor: pointer;
    background: $red;
    color: $white;
    font-family: 'Times New Roman';
    font-size: rem(16px);
    font-style: italic;
    padding: rem(10px);
    border-radius: rem(5px);
    transition: .3s;

    &:hover{
        background: darken($red, 10%)
	}
	
	@include tablets{
        font-size: rem(12px);
    }

    @include phones{
        font-size: rem(12px);
    }
}   

.form-block{
    margin-bottom: rem(70px);
}

.form__textarea{
    height: rem(100px);
}

::-webkit-input-placeholder {
    font-style: italic;
    font-family: 'Times New Roman';
 }
 :-moz-placeholder {
    font-style: italic;  
    font-family: 'Times New Roman';
 }
 ::-moz-placeholder {
    font-style: italic;  
    font-family: 'Times New Roman';
 }
 :-ms-input-placeholder {  
    font-style: italic; 
    font-family: 'Times New Roman';
 }

.popup{
    display: none;
}

.status-popup{
    width: rem(250px);
}

.status-popup__inner{
    text-align: center;
    padding: rem(16px);
}

.status-popup__message{
    font-size: rem(12px);
}



//about/////////////////////////////////////////////
.about{
	background: url('../images/about-bg.jpg') no-repeat;
	background-size: cover;
	background-position-y: center;
	height: rem(300px);
	display: flex;
	align-items: center;

	@include netbook{
		height: rem(200px);
	}

	@include tablets{
		height: rem(180px);
	}

	@include phones{
		height: rem(170px);
	}
}

.title--w {
	color: $white;
}

.about-block{
	display: flex;
	padding: rem(60px);

	@include netbook{
		padding: rem(30px);
	}

	@include tablets{
		padding: rem(30px);
		flex-direction: column;
	}

	@include phones{
		padding: rem(30px);
		flex-direction: column;
	}
}

.about__desc{
	font-family: 'Montserrat';
    font-weight: normal;
	font-style: normal;
	width: 50%;
	text-align: justify;
	margin-right: rem(40px);
	color: $blue;

	@include tablets{
		width: 100%;
	}

	@include phones{
		width: 100%;
	}
}

.about__pic{
	width: 50%;
	
	@include tablets{
		width: 100%;
	}

	@include phones{
		width: 100%;
	}
}

.about__img{
	max-height: 100%;
	max-width: 100%;
}

.about__text{
	@include netbook{
		font-size: rem(14px);
	}

	@include tablets{
		font-size: rem(14px);
	}

	@include phones{
		font-size: rem(14px);
	}
}

//services//////////////////////////////////////////
.services{
	background: url('../images/services-bg.jpg') no-repeat;
	background-size: cover;
	background-position-y: center;
	height: rem(300px);
	display: flex;
	align-items: center;

	@include netbook{
		height: rem(200px);
	}

	@include tablets{
		height: rem(180px);
	}

	@include phones{
		height: rem(170px);
	}
}

.services-block__title{
	text-align: center;
    font-size: rem(20px);
    font-weight: bold;
	padding: rem(45px);

	@include netbook{
		font-size: rem(16px);
	}

	@include tablets{
		font-size: rem(15px);
		padding: rem(35px);
	}

	@include phones{
		font-size: rem(15px);
		padding: rem(35px);
	}
}

.services__list{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 50% 50%;
	justify-content: center;
	gap: rem(20px);

	@include tablets{
		grid-template-columns: 45% 45%;
		grid-template-rows:33%;
	}

	@include phones{
		grid-template-columns: 90%;
	}
}

.services__item{
	text-align: center;
}

.services__item-title{
	margin-bottom: rem(30px);
	position: relative;
	text-transform: uppercase;

	&::after{
		content: "";
		position: absolute;
		bottom: rem(-12px);
		left: 43%;
		width: rem(70px);
		height: 4px;
		background-color: $red;
		margin: 0 auto;

		@include netbook{
			width: rem(50px);
			left: 40%;
		}

		@include tablets{
			width: rem(40px);
			left: 42%;
			height: 3px;
		}

		@include phones{
			width: rem(40px);
			left: 44%;
			height: 3px;
		}
	}

	@include netbook{
		font-size: rem(14px);
	}

	@include tablets{
		font-size: rem(13px);
	}

	@include phones{
		font-size: rem(13px);
	}
}

.services__pic{
	width: rem(300px);
	margin: 0 auto;
	height: rem(230px);

	@include netbook{
		width: rem(200px);
		height: rem(170px);
	}

	@include tablets{
		width: rem(200px);
		height: rem(170px);
	}

	@include phones{
		width: rem(200px);
		height: rem(170px);
	}
}

.services__img{
	border: 8px solid $blue;

	@include netbook{
		border: 4px solid $blue;
	}

	@include tablets{
		border: 4px solid $blue;
	}

	@include phones{
		border: 3px solid $blue;
	}
}

.services__desc{
	text-align: justify;
	padding: rem(30px);
	color: $dark;
	font-family: 'Montserrat';
    font-weight: normal;
	font-style: normal;

	@include netbook{
		padding: rem(15px);
		font-size: rem(14px);
	}

	@include tablets{
		padding: rem(15px);
		font-size: rem(14px);
	}

	@include phones{
		padding: rem(15px);
		font-size: rem(13px);
	}
}

.services-doors{
	background: $gray;
	padding-bottom: rem(40px);
}

.services-doors__list{
	display: flex;
	justify-content: center;
	text-align: center;
	
	@include tablets{
		display: grid;
		grid-template-columns: 45% 45%;
		justify-content: center;
	}
	
	@include phones{
		display: grid;
		grid-template-columns: 90%;
		justify-content: center;
	}
}

.services-doors__item{
	width: 30%;

	@include tablets{
		width: 90%;
	}

	@include phones{
		width: 100%;
	}
}

.services-other__list{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: rem(60px);

	@include netbook{
		padding: rem(20px);
	}

	@include tablets{
		display: grid;
		justify-content: center;
	}

	@include phones{
		display: grid;
		justify-content: center;
	}
}

.services-other__item{
	width: 45%;

	@include tablets{
		width: 100%;
	}

	@include phones{
		width: 100%;
	}
}

.services-other__pic{
	width: rem(400px);
	margin: 0 auto;

	@include netbook{
		width: rem(300px);
	}

	@include tablets{
		width: rem(300px);
	}

	@include phones{
		width: rem(300px);
	}
}



//projects//////////////////////////////////////////
.projects{
	background: url('../images/projects-bg.jpg') no-repeat;
	background-size: cover;
	background-position-y: center;
	height: rem(300px);
	display: flex;
	align-items: center;

	@include netbook{
		height: rem(200px);
	}
	
	@include tablets{
		height: rem(180px);
	}

	@include phones{
		height: rem(170px);
	}
}


.projects-block__title{
	color: $blue;
	font-size: rem(24px);
	padding: rem(30px) rem(35px);

	@include netbook{
		font-size: rem(20px);
	}

	@include tablets{
		font-size: rem(18px);
		padding: rem(20px) rem(25px);
	}

	@include phones{
		font-size: rem(18px);
		padding: rem(20px) rem(25px);
	}
}

.projects-block__desc{
	margin-bottom: rem(60px);
	font-family: 'Montserrat';
    font-weight: normal;
	font-style: normal;
	font-size: rem(17px);
	padding: 0 rem(35px);
	width: 70%;

	@include netbook{
		font-size: rem(14px);
	}

	@include tablets{
		font-size: rem(13px);
	}

	@include phones{
		font-size: rem(13px);
	}
}

.projects__list{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	text-align: center;
	justify-content: center;
	grid-gap: rem(35px);
	grid-template-rows: rem(320px) rem(320px) rem(320px) rem(320px) rem(320px) rem(320px) rem(320px) rem(320px) rem(320px);

	@include netbook{
		grid-gap: rem(20px);
	}

	@include tablets{
		grid-template-columns: 45% 45%;
		grid-gap: rem(20px);
		margin-bottom: rem(30px);
	}

	@include phones{
		grid-template-columns: 90%;
		grid-gap: rem(20px);
		margin-bottom: rem(30px);
	}
}

.projects__item{
	overflow: hidden;
	position: relative;
	transition: .3s;

	&:hover .projects__btn{
		bottom: rem(30px);
		opacity: 1;
	}
	&:hover .overlay{
		opacity: 0.5;
	}
}

.overlay{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    overflow: hidden;
}


.projects__item-title{
	text-transform: uppercase;
	font-weight: bold;
	color: $blue;
	font-size: rem(18px);
	margin-bottom: rem(20px);
	height: rem(30px);
	
	@include netbook{
		font-size: rem(15px);
	}

	@include tablets{
		font-size: rem(13px);
	}

	@include phones{
		font-size: rem(13px);
	}
}

.projects__item-pic{
	position: relative;
	overflow: hidden;
	width: rem(400px);
    height: rem(260px);
}

.projects__item-img{
	object-fit: cover;
    width: rem(400px);
    height: rem(260px);
}

.projects__btn{
	background: $red;
	color: $white;
	cursor: pointer;
	width: rem(110px);
	padding: rem(7px) rem(10px);
	font-weight: bold;
	position: absolute;
    left: rem(36px);
	opacity: 0;
   

	&:hover{
		background: darken($red, 10%)
	}

	@include tablets{
		font-size: rem(13px);
		width: rem(90px);
		padding: rem(7px) rem(10px);
		opacity: 1;
		bottom: 10%;
		background: darken($red, 10%)
	}

	@include phones{
		font-size: rem(13px);
		width: rem(90px);
		padding: rem(7px) rem(10px);
		opacity: 1;
		bottom: 10%;
		background: darken($red, 10%)
	}
}


//safety//////////////////////////////////////////
.safety{
	background: url('../images/safety-bg.jpg') no-repeat;
	background-size: cover;
	background-position-y: 70%;
	height: rem(300px);
	display: flex;
	align-items: center;
	margin-bottom: rem(30px);

	@include netbook{
		height: rem(200px);
	}

	@include tablets{
		height: rem(180px);
	}

	@include phones{
		height: rem(170px);
	}
}

.safety-block{
	display: flex;
	margin-bottom: rem(30px);

	@include phones{
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
}

.safety-block__left{
	width: 50%;
	display: flex;
	justify-content: center;
	
	@include netbook{
		align-items: center;
		width: 60%;
	}
	
	@include phones{
		width: 100%;
	}
}

.safety-block__right{
	width: 50%;
	display: flex;
    flex-direction: column;
    justify-content: center;
	padding: rem(40px);
	color: $blue;

	@include netbook{
		padding: rem(20px);
	}

	@include phones{
		width: 100%;
		padding: rem(20px);
	}
}

.safety__img{
	width: 70%;
}

.safety__pic{
	max-height: 100%;
	max-width: 100%;
}

//careers//////////////////////////////////////////
.careers{
	background: url('../images/careers-bg.jpg') no-repeat;
	background-size: cover;
	background-position-y: 40%;
	height: rem(300px);
	display: flex;
	align-items: center;
	margin-bottom: rem(30px);

	@include netbook{
		height: rem(200px);
	}

	@include tablets{
		height: rem(180px);
	}

	@include phones{
		height: rem(170px);
	}
}

.careers-block{
	display: flex;
    flex-direction: column;
	text-align: center;
	color: #3e3e3e;
	font-family: 'Montserrat';
    font-weight: bold;
	font-style: normal;
}

.careers__title{
	text-transform: uppercase;
    font-size: rem(40px);
}

.careers__subtitle{
	font-size: rem(18px);
}

.careers__desc{
	font-family: 'Montserrat';
    font-weight: normal;
	font-style: normal;
	width: 70%;
	display: flex;
    flex-direction: column;
    text-align: center;
	margin: 0 auto;
	padding: 60px 0;
}

.careers__text{
	margin: 0 0 15px 0;
	color: $blue;
}

.careers__request{
	background: url('../images/careers.jpg') no-repeat;
	background-size: cover;
	background-position-y: 30%;
	height: rem(550px);

	@include phones{
		background-position-y: center;
		background-position-x: 70%;
	}
}

.gray-overlay{
	background-color: rgba(0,0,0,0.5);
	height: 100%;
}

.careers__form{
	display: flex;
    flex-direction: column;
	align-items: center;
	color: $white;
}

.careers-form__title{
	text-transform: uppercase;
    font-size: rem(25px);
    font-family: 'Montserrat';
    font-weight: bold;
	font-style: normal;
	padding: rem(25px);
	text-align: center;

	@include phones{
		font-size: rem(20px);
	}
}

.careers-form__subtitle{
	font-family: 'Montserrat';
    font-weight: bold;
	font-style: normal;
	margin-bottom: rem(30px);
	text-align: center;

	@include phones{
		font-size: rem(12px);
	}
}


//hamburger

.hamburger__menu{
    position: absolute;
    top: 5%;
    right: 3%;
	
	@include tablets{
        top: 11%;
    }
	
	@include phones{
        top: 9%;
    }
}

.hamburger__menu-link{
    vertical-align: middle;
    position: relative;
    height: 1.375rem;
    align-items: center;
    margin-left: 1.875rem;
    display: none;
    z-index: 100;

    @include tablets{
        display: inline-flex;
    }
    @include phones{
        display: flex;
    }
    
}

.hamburger__bars {
	&, &:before, &:after {
		background: $white;
		width: rem(38px);
        height: rem(5px);
		border-radius: 3px;
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
        top: 1%;
	}

	&:after {
		bottom: 1%;
    }
}

.hamburger__menu-link.is-active .hamburger__bars{
    background: transparent;
    &:before {
      transform: translateY(10px) translateX(0) rotate(45deg);
      border-radius: 5px; 
    
      @include phones{
        transform: translateY(10px) translateX(0) rotate(45deg);
      }
    }

    &:after {
      transform: translateY(-6px) translateX(0) rotate(-45deg);
      border-radius: 5px; 
    }
  }


body.locked {
    overflow: hidden;
}
.dark-menu{
    position: absolute;
    left: -9999px;
    right: 0;
    background: $blue;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10;
}

.dark-menu.is-active {
    display: flex;
    opacity: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.nav_hamburger {
    width: auto;

    @include tablets{
        display: block;
    }
}

.nav__listt {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.nav_hamburger .nav__listt {
    flex-direction: column;
    text-align: center;
}

.nav__item_hamburger {
    display: inline;
    text-align: center;
    animation-fill-mode: forwards;
    transition: opacity .3s;
    font-size: rem(25px);

    &:last-child {
		margin-right: 0;
		&:after {
			display: none;
		}
	}
}

.nav_hamburger .nav__link {
    font-size: rem(24px);
}

//error/////////////////////
.error{
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-block{
	width: 100%;
    display: flex;
	justify-content: center;

	@include phones{
		height: 300px;
	}
}

.error__pic{
	height: 600px;
}

.error__img{
	max-width: 100%;
    max-height: 100%;
}

.btn-block_404{
	width: 100%;
	display: flex;
	justify-content: center;
}