//vars
$white:#fff;
$black:#111111;
$red:#c61818;
$blue:#262e3a;
$gray:#F7F7F7;
$dark:#a6a6a6;

$netbook:1024px;
$tablets:768px;
$phones:480px;
$iphone5:320px;

//mixin

@mixin dot{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

@function rem($px){
    @return $px  / 16px+0rem;
}

@mixin phones{
    @media (min-width:240px) and (max-width:479px){
        @content;
    }
}

@mixin tablets{
    @media (min-width:480px) and (max-width:767px){
        @content;
    }
}

@mixin netbook{
    @media (min-width:768px) and (max-width:1024px){
        @content;
    }
}